<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Add Application</h2>
    <hr style="width:200px" class="w3-opacity">
    <form name="add_app" method="post" >
    <div>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="name"></p>
        <p><select class="w3-input w3-padding-16" name="type">
             <option value="Game">Game</option>
             <option value="Automation">Automation</option>
             <option value="Surveillance">Surveillance</option>
        </select></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="URL" required name="url"></p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">Submit</button>
    </div>
</form>
</div>
