$def with (app)

<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Edit Application</h2>
    <hr style="width:200px" class="w3-opacity">
    <form name="edit_user"  action="/edit_app" method="post" >
    <div>
        <p><input class="w3-input w3-padding-16" type="text" required name="name" value="$app.name" ></p>
        <p><input class="w3-input w3-padding-16" type="text" required name="url" value="$app.url" ></p>
        <p><input class="w3-input w3-padding-16" type="text" required name="active" value="$app.active" ></p>
        <input type="hidden" name="existing" value="$app.name" /> 
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">Submit</button>
    </div>
</form>
</div>
